main {
  padding: 0 10px 20px 10px;
  font-size: 17px;
  height: 85vh;
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      flex-direction: column;
      text-align: start;
    }

    label {
      margin: 5px 0;
    }

    input {
      border: 2px solid $Grey;
      background-color: transparent;
      color: $White;
      outline: none;
      padding: 10px;
      font-size: 100%;
      border-radius: 10px;
      transition: 0.2s;

      &:focus {
        border: 2px solid $White;
      }

      &[type="text"] {
        outline: none;
        font-size: 100%;
      }

      &[type="submit"] {
        margin: 15px 0;
        font-weight: 200;
        background-color: $Blue;
        color: $White;
        transition: 0.2s;

        &:hover {
          background-color: $BlueBis;
          border: 2px solid $White;
        }
      }
    }
  }
}

@media (min-width: 650px) {
  main {
    padding: 0 40px 20px 40px;
  }
}
