.wishlistContainer {
  padding-left: 10px;
  text-align: start;
  .wishlistRow {
    border-bottom: 1px solid $Grey;
    padding: 10px 0;
    position: relative;
    columns: 4;
  }

  .delete {
    background: $Red;
    color: $White;
    padding: 4px;
    width: 30px;
    display: inline-block;
    text-align: center;
  }
}
