.wishlistContainer {
  height: 50vh;
  overflow: scroll;
  text-align: start;

  .wishlistRow {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding: 10px;
    border-bottom: 1px solid $Grey;

    &:nth-child(odd) {
      background-color: $LightGrey;
    }
  }

  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .delete {
    background: $Red;
    color: $White;
    padding: 4px;
    width: 30px;
    display: inline-block;
    text-align: center;
  }
}
