.wishlistBanner {
  padding: 10px;
  border-bottom: 1px solid $Grey;
  border-top: 1px solid $Grey;
  text-align: start;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
